* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 330px 1fr;
}

.dashboard {
   display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;

    background: #e1e8f0;
}

/* Sidebar styling */

.sidebar {
    background-color: #1992d4;
    display: grid;
    align-content: start;
    gap: 55px;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: flex;
    gap: 22px;
    align-items: center;

    margin-left: 30px;
    color: white;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
                 "Helvetica Neue", sans-serif;
    font-weight: 620;
    font-size: 25px;
}

.logo {
    gap:16px;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 650;
    letter-spacing: 0.0006em;

}

.main-nav,.sec-nav {
    display: flex;
    flex-direction: column;
    gap:20px;
}

/* Header content styling */

.header {
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;

    padding: 22px 42px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    background-color: white;
}

/* top header properties */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.search-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 40px;

    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
                 "Helvetica Neue", sans-serif;

    font-size: 1.3rem;      
    font-weight: 700;
    color: #111827;
}
.avatar {
    width: 48px;
    height: 48px;
    background-image: linear-gradient(135deg, #FF4500, #FFAA33);
    border-radius: 50%;

    flex-shrink: 0;
}

/* bottom header properties */

.header-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.intro-section {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;

    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
                 "Helvetica Neue", sans-serif;
    font-weight: 670;   
}

.button-section {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.btn {
    outline: none;
    border: none;
    background-color: #1892d3;
    padding: 10px 33px;
    border-radius: 26px;

    color: white;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
                 "Helvetica Neue", sans-serif;
    font-weight: 650;   
    font-size: 1.1em;
}

/* content properties */

.content {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 35px;
    padding-bottom: 70px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Projects Section */
.projects-grid {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    gap: 24px;
}

.projects-section {
    flex: 3;
}

.side-content {
    flex: 1;
}

.span-title {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 630;
}

.card {
    background-color: white;
    border-left: 8px solid #f0b429;
    border-radius: 10px;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    gap: 60px;
    
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
}

.card-text {
    display: flex;
    flex-direction: column;

    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
                "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
}
.card-text-title {
    font-size: 1.35rem;      
    font-weight: 700;
    color: #222;

    margin-bottom: 6px;
}

.card-text-content {
    font-size: 1.05rem;     
    font-weight: 400;
    line-height: 1.35;

    color: #666;
}

.card-icon {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    gap:24px;
}

/* Announcements Container */
.announcement-container {
    background-color: white;
    margin-top: 20px;
    padding: 18px 25px;

    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);    
}

.announcement {
    display: flex;
    flex-direction: column;

    padding-top: 12px;
    padding-bottom: 12px;

    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
}

.announcement:not(:last-child) {
    border-bottom: 1px solid #d1d5db;
}

.announcement-title {
    font-size: 0.95rem;
    font-weight: 700;
    color: #222;
}

.announcement-content {
    font-size: 0.8rem;         
    font-weight: 400;
    line-height: 1.3;
    color: #666;
}

.trending {
    margin-top: 60px;

    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
}

.trending-container {
    background-color: white;
    padding: 20px 20px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);    
}

.trending-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.trending-text {
    display: flex;
    flex-direction: column;
}

.trending-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;

    flex-shrink: 0;
}

.trending-text-tag {
    word-spacing: 1px;
    font-weight: 450;
}

.trending-text-desc {
    color: #666;
    font-size: 0.95rem;
}